@charset "utf-8";
/* CSS Document */
body,p,div,h1,h2,h3,h4,h5,h6,button,input,ol,li,ul,dl,dt,dd,img{
	margin:0;
	padding:0;
  　-webkit-appearance:none;
    border:0;
    list-style:none;
	box-sizing:border-box;}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0); outline-color:#0081ff; background:none;}
button{
	outline:none;}
input::-webkit-input-placeholder {
    color:#aaa;
	}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}
input[type="number"]{-moz-appearance:textfield;}
body{
	margin:0 auto;
	font-size:16px;
	color:#121212;
	font-family:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	position:relative;
	}
a{
	text-decoration:none;
	color:#f06000;}

.noborder{
	border:0; !important}

#header{
	height:0.5rem;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
	}
.header{
	height:0.5rem;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
	}
.headerIn{
	width:100%;
	height:100%;
	position:relative;
	background:#0081ff;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.headerIn .back{
	display: flex;
	height: 100%;
	align-items: center;
	padding-left:0.2rem;
	font-size:0.14rem;
	color:#fff;
	width:20%;
}
.headerIn .save{
	display: flex;
	height:65%;
	align-items: center;
	font-size:0.14rem;
	color:#fff;
	padding:0 0.2rem;
	text-align:right;
	justify-content:center;
	margin-right:0.1rem;
	border-radius:3px;
	border:1px solid #fff;
}

.cuIcon-back:before{
	margin-right:3px;
	font-size:0.16rem;}
.headerIn h2{
	width:50%;
	font-size:0.18rem;
	color:#fff;
	font-weight:normal;
	text-align:center;
	margin:0 auto;
	padding:0;
	font-family:"微软雅黑";
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	position:absolute;
	left:0;
	right:0;
	top:0;
	margin:auto;
	height:100%;
	line-height:0.5rem;}	
	


.zhezhao_new{
	position:fixed;
	z-index:100000;
	background:rgba(0,0,0,0.5);
	width:100%;
	height:20000px;
	top:0;
	left:0;}

.nodate2 {
  background: url(../images/nodate8.png) no-repeat top center;
  background-size:160px auto;
  padding-top:150px;
  text-align: center;
  font-size: 14px;
  color:#888;
  line-height:24px;
  width: 90%;
  margin:150px auto 0;
}

body .spinner-android{
	display:none;}


body {
	/* Color 可以自定义相关配色 */
	/* var属性兼容性 --> https://www.caniuse.com/#feat=css-variables */
	/* 标准色 */
	--red: #e54d42;
	--orange: #f37b1d;
	--yellow: #fbbd08;
	--olive: #8dc63f;
	--green: #39b54a;
	--cyan: #1cbbb4;
	--blue: #0081ff;
	--purple: #6739b6;
	--mauve: #9c26b0;
	--pink: #e03997;
	--brown: #a5673f;
	--grey: #8799a3;
	--black: #333333;
	--darkGray: #666666;
	--gray: #aaaaaa;
	--ghostWhite: #f1f1f1;
	--white: #ffffff;
	/* 浅色 */
	--redLight: #fadbd9;
	--orangeLight: #fde6d2;
	--yellowLight: #fef2ce;
	--oliveLight: #e8f4d9;
	--greenLight: #d7f0db;
	--cyanLight: #d2f1f0;
	--blueLight: #cce6ff;
	--purpleLight: #e1d7f0;
	--mauveLight: #ebd4ef;
	--pinkLight: #f9d7ea;
	--brownLight: #ede1d9;
	--greyLight: #e7ebed;
	/* 渐变色 */
	--gradualRed: linear-gradient(45deg, #f43f3b, #ec008c);
	--gradualOrange: linear-gradient(45deg, #ff9700, #ed1c24);
	--gradualGreen: linear-gradient(45deg, #39b54a, #8dc63f);
	--gradualPurple: linear-gradient(45deg, #9000ff, #5e00ff);
	--gradualPink: linear-gradient(45deg, #ec008c, #6739b6);
	--gradualBlue: linear-gradient(45deg, #0081ff, #1cbbb4);
	/* 阴影透明色 */
	--ShadowSize: 6px 6px 8px;
	--redShadow: rgba(204, 69, 59, 0.2);
	--orangeShadow: rgba(217, 109, 26, 0.2);
	--yellowShadow: rgba(224, 170, 7, 0.2);
	--oliveShadow: rgba(124, 173, 55, 0.2);
	--greenShadow: rgba(48, 156, 63, 0.2);
	--cyanShadow: rgba(28, 187, 180, 0.2);
	--blueShadow: rgba(0, 102, 204, 0.2);
	--purpleShadow: rgba(88, 48, 156, 0.2);
	--mauveShadow: rgba(133, 33, 150, 0.2);
	--pinkShadow: rgba(199, 50, 134, 0.2);
	--brownShadow: rgba(140, 88, 53, 0.2);
	--greyShadow: rgba(114, 130, 138, 0.2);
	--grayShadow: rgba(114, 130, 138, 0.2);
	--blackShadow: rgba(26, 26, 26, 0.2);

	background-color: var(--ghostWhite);
	color: var(--black);
	font-family: Helvetica Neue, Helvetica, sans-serif;
}


.bdCon{
	margin-top:0.5rem;}	

@media only screen and (min-width: 1400px) {
#header{
	height:0.3rem;
	}
.header{
	height:0.3rem;
	}

.cuIcon-back:before{
	margin-right:3px;
	font-size:0.1rem;}

.bdCon{
	margin-top:0.3rem;}
	
} 
@media screen and (max-width: 641px) {
#header{
	height:1rem;
	}
.header{
	height:1rem;
	}
.headerIn .back{
	font-size:0.3rem;
}
.headerIn .save{
	font-size:0.3rem;
}
.cuIcon-back:before{
	margin-right:3px;
	font-size:0.3rem;}
.headerIn h2{
	font-size:0.32rem;
	line-height:1rem;}

}