@charset "utf-8";
/* CSS Document */
body,p,div,h1,h2,h3,h4,h5,h6,button,input,ol,li,ul,dl,dt,dd,img{
	margin:0;
	padding:0;
  　-webkit-appearance:none;
    border:0;
    list-style:none;
	box-sizing:border-box;}

body .spinner-android{
	display:none;}

body {
	font-family: Helvetica Neue, Helvetica, sans-serif;
}

@media only screen and (min-width: 1400px) {
#header{
	height:0.3rem;
	}
.header{
	height:0.3rem;
	}

.cuIcon-back:before{
	margin-right:3px;
	font-size:0.1rem;}

.bdCon{
	margin-top:0.3rem;}
	
} 
@media screen and (max-width: 641px) {
#header{
	height:1rem;
	}
.header{
	height:1rem;
	}
.headerIn .back{
	font-size:0.3rem;
}
.headerIn .save{
	font-size:0.3rem;
}
.cuIcon-back:before{
	margin-right:3px;
	font-size:0.3rem;}
.headerIn h2{
	font-size:0.32rem;
	line-height:1rem;}

}