<!doctype html>
<html>
<!doctype html>
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Healthcare IoT System</title>
<link type="text/css" href="static/public.css" rel="stylesheet">
<link type="text/css" href="static/index.css" rel="stylesheet">
<script type="text/javascript">
        document.documentElement.style.fontSize = document.documentElement.clientWidth /768*100 + 'px';
</script>


<script src="https://www.jq22.com/jquery/echarts-4.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
</head>


<body>
<div class="bg" style="padding:80px;">
	<div class="title" style="padding-bottom: 60px;">Healthcare IoT System</div>
    <div class="leftMain_middle">
        	<div class="leftMain_middle_left">
            	<div class="leftMain_middle_leftIn">
                	<h3 style="padding-left: 30px; padding-top: 20px;">Pulse Rate Sensors</h3>
                    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                    <div class="chart" style="width:90%; height:25vh" id="chartmain1"></div>
                    <script type="text/javascript">
					//window.onload = function () {
								var dataAxis = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'];
								var data = [];
								var yMax = 180;
								var dataShadow = [];
								
								for (var i = 0; i < data.length; i++) {
									dataShadow.push(yMax);
								}
								
								option = {
									title: {
										text: '',
										subtext: ''
									},
									grid:{
										x:40,
										y:40,
										x2:20,
										y2:20,
										
									},
									xAxis: {
										data: dataAxis,
										axisLabel: {
											/*inside: true,*/
											interval:0,
											textStyle: {
												color: '#708b6e',
												fontSize: 12
												
											}
										},
										axisTick: {
											show: false,
										},
										axisLine: {
											show: true,
											symbol:['none', 'arrow'],
											symbolOffset: 12,
											lineStyle:{
												color: '#708b6e',
											}
										},
										z: 10
									},
									yAxis: {
										type: 'value',
										name: '',
										axisLine: {
											show: true,
											symbol: ['none', 'arrow'],
											symbolOffset: 12,
											lineStyle:{
												color: '#708b6e',
											}
										},
										axisTick: {
											show: false
										},
										axisLabel: {
											textStyle: {
												color: '#708b6e',
												fontSize: 12
											}
										}
									},

									dataZoom: [
										{
											type: 'inside'
										}
									],
									series: [
										{ // For shadow
											type: 'bar',
											itemStyle: {
												color: 'rgba(208, 227, 206, 0.2)'
											},
											barGap: '-100%',
											barCategoryGap: '40%',
											data: dataShadow,
											animation: false
										},
										{
											type: 'bar',
											itemStyle: {
												color: new echarts.graphic.LinearGradient(
													0, 0, 0, 1,
													[
														{offset: 0, color: '#d0e3ce'},
														{offset: 0.5, color: '#bdd7ba'},
														{offset: 1, color: '#aacca7'}
													]
												)
											},
											data: data
										}
									]
								};
								
								// Enable data zoom when user click bar.
								/*var zoomSize = 6;
								myChart.on('click', function (params) {
									console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
									myChart.dispatchAction({
										type: 'dataZoom',
										startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
										endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
									});
								});*/
							
								//获取dom容器
								var myChart1 = echarts.init(document.getElementById('chartmain1'));
								// 使用刚指定的配置项和数据显示图表。
								myChart1.setOption(option);
						//};
					</script>
                </div>
            </div>
        	<div class="leftMain_middle_right">
            	<div class="leftMain_middle_rightIn">
                	<h3 style="padding-left: 30px; padding-top: 20px;">Most Recent Data</h3>
                    <div class="chart chart_bi" style="width:100%; height:25vh">
                        <ul >
                            <li>
                                <div class="liIn">
                                    <p id="lastMessage" class="shu shu1">23</p>
                                    <p class="zi">ECG data</p>
                                </div>
                            </li>
                            <li>
                                <div class="liIn">
                                    <p id = "lastPulse" class="shu shu2">107</p>
                                    <p class="zi">Pulse Rate Data</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="leftMain_middle">
        	<div class="leftMain_middle_left">
            	<div class="leftMain_middle_leftIn">
                	<h3 style="padding-left: 30px; padding-top: 20px;">ECG Sensor Data</h3>
                    <div class="chart" style="width:100%; height:25vh" id="chartmain_zhe"></div>
                    <script type="text/javascript">
					//window.onload = function (){
								//指定图表的配置项和数据
								var data_ecg = [];
								/*
								async function updateLastMessage() {
									const response_ecg = await fetch('/get_previous_ecg');

									data_ecg = await response_ecg.json();
									console.log("Received data_ecg:", data_ecg);
								}
								async function updateLastMessage() {
									const response_ecg = await fetch('/get_previous_ecg');
									data_ecg = await response_ecg.json();
									console.log("Received data_ecg:", data_ecg);

									// 更新图表数据
									myChart.setOption({
										series: [{
											name: 'Unit:BMP',
											type: 'line',
											stack: 'total',
											data: data_ecg,
											itemStyle: {
												normal: {
													color: "#a0c69d",
													lineStyle: {
														color: "#a0c69d",
														width: 2,
													}
												},
											}
										}]
									});
								}*/
									
								
					option = {
						title: {
							text: ''
						},
						tooltip: {
							trigger: 'axis'
						},
						legend: {
							textStyle: {
								color: '#708b6e',
								fontSize: 12,
							},
							right:'10%',
							data: ['Your recent data']
						},
						grid:{
								x:40,
								y:40,
							},
						toolbox: {
							feature: {
								//saveAsImage: {}
							}
						},

						xAxis: {
							type: 'category',
							boundaryGap: false,
							axisLabel: {
											/*inside: true,*/
											interval:0,
											textStyle: {
												color: '#708b6e',
												fontSize: 12
												
											}
										},
										axisTick: {
											show: false,
										},
										axisLine: {
											show: true,
											symbol:['none', 'arrow'],
											symbolOffset: 12,
											lineStyle:{
												color: '#708b6e',
											}
										},
							data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
						},
						yAxis: {
							type: 'value',
							
							axisLine: {
								show: true,
								symbol: ['none', 'arrow'],
								symbolOffset: 12,
								lineStyle:{
									color: '#708b6e',
								}
							},
							axisTick: {
								show: false
							},
							axisLabel: {
								textStyle: {
									color: '#708b6e',
									fontSize: 12
								}
							}
						},
						series: [
							{
								name: 'Unit:BMP',
								type: 'line',
								stack: 'total',
								data: data_ecg,
								itemStyle: {
									 normal: {
									   color: "#a0c69d",//折线点的颜色
									   lineStyle: {
									   color: "#a0c69d",//折线的颜色
									   width:2,
									  }
									},
								}
							},
						]
					};		
								//获取dom容器
								var myChart = echarts.init(document.getElementById('chartmain_zhe'));
								// 使用刚指定的配置项和数据显示图表。
								myChart.setOption(option);
						//};
					</script>
                </div>
            </div>
        </div>
    </div>

    <div style="clear:both;"></div>

</body>
</html>

<script>
	window.onload = function () {
	//document.addEventListener("DOMContentLoaded", function () {
		async function updateLastMessage() {
			console.log("updateLastMessage function called");

			const response_ecg = await fetch('/get_previous_ecg');
									data_ecg = await response_ecg.json();
									console.log("Received data_ecg:", data_ecg);

									// update the chart data
									myChart.setOption({
										series: [{
											name: 'mV',
											type: 'line',
											stack: 'total',
											data: data_ecg,
											itemStyle: {
												normal: {
													color: "#a0c69d",
													lineStyle: {
														color: "#a0c69d",
														width: 2,
													}
												},
											}
										}]
									});
			// /get_previous_pulse
			const response_pulsePre = await fetch('/get_previous_pulse');
									data_pulse_pre = await response_pulsePre.json();
									console.log("Received data_pulse_pre:", data_pulse_pre);

									// update the chart data

									myChart1.setOption({
										series: [
											{ // For shadow
												type: 'bar',
												itemStyle: {
													color: 'rgba(208, 227, 206, 0.2)'
												},
												barGap: '-100%',
												barCategoryGap: '40%',
												data: dataShadow,
												animation: false
											},
											{
												type: 'bar',
												itemStyle: {
													color: new echarts.graphic.LinearGradient(
														0, 0, 0, 1,
														[
															{offset: 0, color: '#d0e3ce'},
															{offset: 0.5, color: '#bdd7ba'},
															{offset: 1, color: '#aacca7'}
														]
													)
												},
												data: data_pulse_pre
											}
										]
								
									});

			const response = await fetch('/get_last_message');
			/*
			const response_pulse = await fetch('/get_last_valid_pulse');
			const data_pulse = await response_pulse.json();
			*/
			const data = await response.json();
			
			console.log("Received data:", data);
			//console.log("Received data_pulse:", data_pulse);//work

			// Update the content of the "lastMessage" div
			const lastMessageDiv = document.getElementById('lastMessage');
			//const lastPulseDiv = document.getElementById('lastPulse');
			//lastMessageDiv = document.querySelector('#lastMessage')
			if (lastMessageDiv) {
				console.log("Updating lastMessageDiv");
				lastMessageDiv.innerText = data.ecg;
				//lastPulseDiv.innerText = data_pulse;
			}else{
				console.log("lastMessageDiv is null");
			}
		}

		// Call the updateLastMessage function when the page loads
		updateLastMessage();
	//});
	};
</script>
